@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: linear-gradient(to top, #262629, #0f0f0f);
  color: white;
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
}

input {
  background-color: #1e1e1e;
  color: black;
}
